{% extends "base_layout.html" %}
{% load static %}
{% block title %}Delete {{ article.title }}{% endblock title %}
{% block content %}
    <div class="article-confirm-delete">
        <h1>Are you sure?</h1>
        <p>Do you really want to delete the article "{{ article.title }}"? This action cannot be undone.</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Yes, delete </button>
            <a href="{% url 'homepage' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
{% endblock content %}
