{% extends "base_layout.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% block title %}Create or update article{% endblock title %}
{% block content %}
<div class="row">
    <div class="col-md-10 mx-auto">
        <h1 class="mb-4">Create or update article</h1>
        <div class="card shadow">
            <div class="card-body p-4">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% bootstrap_button "Save" button_type="submit" button_class="btn-primary" %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
