{% extends "base_layout.html" %}
{% block title %}About{% endblock title %}

{% block content %}
    <div class="about-container">
        <h1>{{ header }}</h1>
        
        <div class="about-section">
            <h2>Director</h2>
            <p>{{ director.name }}</p>
        </div>
        
        <div class="about-section">
            <h2>Address</h2>
            <address>
                {{ address.0 }}, {{ address.1 }}, {{ address.2 }}, {{ address.3 }}
            </address>
        </div>
        
        <div class="about-section">
            <h2>Our Staff</h2>
            <ul class="staff-list">
                {% for member in staff %}
                    <li>{{ member }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock content %}
