{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Default title{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<header>
    <div class="logo">
        <a href="{% url 'homepage' %}">
            <img src="{% static 'images/logo.png' %}" alt="Site Logo">
        </a>
    </div>
    <nav>
        <ul>
            <li><a href="{% url 'homepage' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'articles:list' %}">Articles</a></li>
        </ul>
        <div class="user-auth-status">
            {% if user.is_authenticated %}
                <div class="user-welcome">
                    <p>Welcome, {{ user.username }}!</p>
                    <form class="logout-form" action="{% url 'accounts:logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="auth-button logout-button">Logout</button>
                    </form>
                </div>
            {% else %}
                <div class="login-signup-links">
                    <a href="{% url 'accounts:login' %}" class="auth-button login-button">Login</a>
                    <a href="{% url 'accounts:signup' %}" class="auth-button signup-button">Sign Up</a>
                </div>
            {% endif %}
        </div>
    </nav>
</header>

<main>
    {% block content %}{% endblock content %}
</main>

<footer>
    <p>© {% now "Y" %} Stekl0</p>
</footer>
</body>
</html>
